.authForm {
  width: 100%;
  max-width: 50%;
  display: flex;
  margin-top: -230px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
}

.authForm input {
  width: 100%;
  max-width: 50%;
  height: 1.4rem;
}
